$coffee-brown-dark: #4B2E2B;  // Color oscuro de los granos de café
$coffee-brown: #6F4E37;      // Tono medio de café
$coffee-brown-light: #A67B5B; // Café con leche
$cream: #F5F3E7;             // Color crema, para fondos y detalles ligeros
$caramel: #C69C6D;           // Color caramelo, toques dulces y atractivos
$white: #FFFFFF;             // Blanco para contraste y legibilidad
$black: #2C2C2C;             // Negro para textos y acentos
